@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@400;600&display=swap");
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TheJamsil5Bold";
}

body {
  height: 100%;
  overflow-y: hidden;
  font-size: 10px;
}

html {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#wrap > .wrap_af {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 20;
}

/*오른쪽 버튼*/
#dot {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 50%;
  right: 10px;
  transform: translatey(-50%);
  z-index: 100;
}

#dot > ul {
  width: 100px;
}

#dot li {
  width: 70px;
  height: 70px;
  position: relative;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

#dot li a {
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: absolute;
}
#dot li a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.active a {
  transform: scale(0.8);
}

#dot li:hover {
  opacity: 1;
  cursor: pointer;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}
section h1 {
  font-size: 38px;
  margin: 10px 0;
}
section h2 {
  font-size: 28px;
  margin: 10px 0;
}
section p {
  font-size: 18px;
  line-height: 20px;
}

/*페이지*/
.page {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 100px;
  background: #f7f0e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*p0*/
#particles-js {
  width: 100%;
  height: 100%;
  position: relative;
}

/*바탕 포인트 컬러*/
.background {
  width: px;
  height: px;
  position: absolute;
  top: 10%;
}

section .page:not(:nth-of-type(2n)) .con_wrap .background {
  left: 0;
}

section .page:nth-of-type(2n) .con_wrap .background {
  right: 0;
}

.p01 {
  background: #519D9E;
}

.p02 {
  background: #B8FCCC;
}

.p03 {
  background: #D1B6E1;
}

.p04 {
  background: #58C9B9;
}

.p05 {
  background: #9DC8C8;
}

/*pf_bot*/
.pf_bot {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  position: relative;
}

.contents1 {
  width: 400px;
  height: 100%;
  padding: 200px 50px 0;
  color: #111;
}
.contents1 p {
  line-height: 25px;
}
.contents1 .num {
  font-family: "Black Ops One";
  font-size: 120px;
  letter-spacing: 10px;
  margin-bottom: -30px;
}
.contents1 .title {
  margin-bottom: 30px;
}
.contents1 button {
  width: 70%;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.contents2 {
  width: 1100px;
  height: 700px;
  position: relative;
}
.contents2 .pc {
  margin-left: 40px;
  width: 1000px;
  height: 600px;
  border-radius: 15px 40px 15px 40px;
  overflow: hidden;
  cursor: pointer;
}
.contents2 .pc img {
  width: 100%;
}
.contents2 .pc::before {
  content: url("../img/moreicon.png");
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contents2 .pc:hover {
  background-color: #000;
}
.contents2 .pc:hover img {
  opacity: 0.9;
  transition: all 0.5s linear;
}
.contents2 .pc:hover .more {
  display: block;
}
.contents2 .m {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contents2 .m .phone {
  width: 250px;
}
.contents2 .m .mscreen {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 220px;
  height: 410px;
  overflow: hidden;
  border-radius: 20px;
}
.contents2 .m .mscreen img {
  width: 100%;
  margin: 0 auto;
}
.contents2 .mleft {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contents2 .mleft .phone {
  width: 250px;
}
.contents2 .mleft .mscreenleft {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 220px;
  height: 410px;
  overflow: hidden;
  border-radius: 20px;
}
.contents2 .mleft .mscreenleft img {
  width: 100%;
  margin: 0 auto;
}