@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Noto+Sans+KR&display=swap");
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TheJamsil5Bold";
}

body {
  height: 100%;
  overflow-y: hidden;
}

html {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#wrap > .wrap_af {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 20;
}

/*오른쪽 버튼*/
#dot {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 50%;
  right: 10px;
  transform: translatey(-50%);
  z-index: 100;
}

#dot > ul {
  width: 100px;
}

#dot li {
  width: 70px;
  height: 70px;
  position: relative;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

#dot li a {
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: absolute;
}
#dot li a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.active a {
  transform: scale(0.8);
}

#dot li:hover {
  opacity: 1;
  cursor: pointer;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}
section h1 {
  font-size: 38px;
  margin: 10px 0;
}
section h2 {
  font-size: 28px;
  margin: 10px 0;
}
section p {
  font-size: 18px;
  line-height: 20px;
}

/*페이지*/
.page {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 100px;
  background: #f7f0e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*p0*/
#particles-js {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
}
#particles-js .wrap {
  width: 1400px;
  position: relative;
  z-index: 1;
}
#particles-js .wrap table {
  text-align: justify;
  font-size: 20px;
}
#particles-js .wrap table th {
  padding: 5px 30px 5px 0px;
  font-family: "Noto Sans KR";
}
#particles-js .wrap table td {
  font-family: "Noto Sans KR";
}
#particles-js .wrap .back {
  position: absolute;
  font-size: 500px;
  top: -150px;
  left: -150px;
  color: #fff;
  opacity: 0.5;
  z-index: -1;
}
#particles-js #box {
  width: 1400px;
  height: 600px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#particles-js #box .box {
  width: 30%;
  height: 300px;
  margin-bottom: 10px;
  border-top: 2px solid #555;
  color: #555;
  position: relative;
}
#particles-js #box .box h2 {
  font-family: "Noto Sans KR";
}
#particles-js #box .box p {
  font-family: "Noto Sans KR";
  line-height: 30px;
}
#particles-js #box .box .txt {
  display: none;
}
#particles-js #box .box .img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#particles-js #box .box .img img {
  width: 150px;
}
#particles-js #box .box .html {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#particles-js #box .box .html img {
  width: 200px;
}
#particles-js #box .box:hover {
  color: #000;
  border-top: 2px solid #000;
}

/*바탕 포인트 컬러*/
.background {
  width: px;
  height: px;
  position: absolute;
  top: 10%;
}

section .page:not(:nth-of-type(2n)) .con_wrap .background {
  left: 0;
}

section .page:nth-of-type(2n) .con_wrap .background {
  right: 0;
}

.p01 {
  background: #f8f8ff;
}

.p02 {
  background: #f8f8ff;
}

.p03 {
  background: #f8f8ff;
}

.p04 {
  background: #f8f8ff;
}

.p05 {
  background: #f8f8ff;
}

/*pf_bot*/
.pf_bot {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  position: relative;
}

.contents1 {
  width: 400px;
  height: 100%;
  padding: 200px 50px 0;
  color: #111;
  position: relative;
  z-index: 1;
}
.contents1 p {
  line-height: 25px;
  font-family: "Noto Sans KR";
}
.contents1 .num {
  font-family: "Black Ops One";
  font-size: 120px;
  letter-spacing: 10px;
  margin-bottom: -30px;
}
.contents1 .title {
  margin-bottom: 30px;
}
.contents1 button {
  width: 140px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 30px;
  border-radius: 0;
  border: 1px solid;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #fff;
  transition: all 0.3s ease;
}
.contents1 button:hover {
  background-color: lightslategray;
  color: #fff;
}
.contents1 .back1 {
  position: absolute;
  font-size: 400px;
  top: 0;
  left: -200px;
  color: #ddd;
  opacity: 0.5;
  z-index: -1;
}
.contents1 .back2 {
  position: absolute;
  font-size: 500px;
  top: 450px;
  right: -150px;
  color: #ddd;
  opacity: 0.5;
  z-index: -1;
}
.contents1 .back3 {
  position: absolute;
  font-size: 500px;
  top: -50px;
  left: -200px;
  color: #ddd;
  opacity: 0.5;
  z-index: -1;
}
.contents1 .back4 {
  position: absolute;
  font-size: 500px;
  top: -60px;
  right: -100px;
  color: #ddd;
  opacity: 0.5;
  z-index: -1;
  text-align: right;
}
.contents1 .back5 {
  position: absolute;
  font-size: 300px;
  bottom: -50px;
  left: -200px;
  color: #ddd;
  opacity: 0.5;
  z-index: -1;
}

.contents2 {
  width: 1100px;
  height: 700px;
  position: relative;
  z-index: 2;
}
.contents2 .pc {
  margin-left: 40px;
  width: 1000px;
  height: 600px;
  border-radius: 15px 40px 15px 40px;
  overflow: hidden;
  cursor: pointer;
}
.contents2 .pc img {
  width: 100%;
}
.contents2 .pc::before {
  content: url("../img/moreicon.png");
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
.contents2 .pc:hover {
  background-color: lightslategray;
}
.contents2 .pc:hover img {
  opacity: 0.9;
  transition: all 0.5s linear;
}
.contents2 .pc:hover .more {
  display: block;
}
.contents2 .m {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contents2 .m .phone {
  width: 250px;
}
.contents2 .m .mscreen {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 220px;
  height: 410px;
  overflow: hidden;
  border-radius: 20px;
}
.contents2 .m .mscreen img {
  width: 100%;
  margin: 0 auto;
}
.contents2 .mleft {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.contents2 .mleft .phone {
  width: 250px;
}
.contents2 .mleft .mscreenleft {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 220px;
  height: 410px;
  overflow: hidden;
  border-radius: 20px;
}
.contents2 .mleft .mscreenleft img {
  width: 100%;
  margin: 0 auto;
}